@media (min-width: 768px) {
  /* line 9, ../Scion Projects/Portfolio/Sass/queries.scss */
  .logo {
    display: flex;
  }
}

@media (min-width: 992px) {
  /* line 19, ../Scion Projects/Portfolio/Sass/queries.scss */
  .sidenav {
    display: block;
  }
}

/* line 6, ../Scion Projects/Portfolio/Sass/styles.scss */
.sidenav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #a6e6e6;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

/* line 24, ../Scion Projects/Portfolio/Sass/styles.scss */
body {
  position: relative;
}

/* line 28, ../Scion Projects/Portfolio/Sass/styles.scss */
.submit {
  background-color: #c9c0ee;
  margin: 0 0 20px 30%;
  width: 200px;
  height: 50px;
  font-weight: bold;
}

/* line 38, ../Scion Projects/Portfolio/Sass/styles.scss */
.links {
  text-align: center;
  border-right: solid #27bbbb 1.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 47, ../Scion Projects/Portfolio/Sass/styles.scss */
.links a {
  margin-left: 15px;
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 22px;
  color: #0a0229;
}

/* line 58, ../Scion Projects/Portfolio/Sass/styles.scss */
.logo {
  display: none;
  color: #27bbbb;
  padding-bottom: 20px;
  font-weight: bolder;
  padding-right: 20px;
  font-size: 2rem;
  border-right: solid #27bbbb 3px;
}

/* line 71, ../Scion Projects/Portfolio/Sass/styles.scss */
#contact-link {
  margin-top: 10px;
}

/* line 78, ../Scion Projects/Portfolio/Sass/styles.scss */
.contact {
  margin: 0;
  padding-left: 180px;
  justify-content: center;
}

/* line 85, ../Scion Projects/Portfolio/Sass/styles.scss */
.hero {
  position: relative;
  background-image: url("../img/pexels-photo-1103970S(1).webp");
  background-repeat: no-repeat;
  background-size: cover;
  width: vh;
  height: vh;
  padding-top: 45%;
}

/* line 96, ../Scion Projects/Portfolio/Sass/styles.scss */
.hero h1 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: 'Lato', sans-serif;
}

/* line 112, ../Scion Projects/Portfolio/Sass/styles.scss */
.form-name {
  background-color: #c9c0ee;
  width: 55%;
}

/* line 119, ../Scion Projects/Portfolio/Sass/styles.scss */
.form-contact {
  background-color: #c9c0ee;
  margin: 10px;
  width: 80%;
}

/* line 134, ../Scion Projects/Portfolio/Sass/styles.scss */
.row-margin {
  width: 1000px;
  margin: 10px;
  max-width: 65%;
  min-width: 35%;
}

/* line 143, ../Scion Projects/Portfolio/Sass/styles.scss */
.contact {
  justify-content: left;
}

/* line 148, ../Scion Projects/Portfolio/Sass/styles.scss */
.projects {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 159, ../Scion Projects/Portfolio/Sass/styles.scss */
.cards {
  border: solid 1px black;
  text-align: center;
  width: 33%;
  height: 33%;
  margin: 0 5px 10px 5px;
}

/* line 166, ../Scion Projects/Portfolio/Sass/styles.scss */
.cards img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* line 180, ../Scion Projects/Portfolio/Sass/styles.scss */
.page-header {
  margin: 10px 0px 0px 25px;
  text-align: left;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  overflow-wrap: break-word;
  padding-left: 180px;
}

/* line 189, ../Scion Projects/Portfolio/Sass/styles.scss */
.page-header h3 {
  margin-top: 10px;
  font-weight: bold;
}

@media (min-width: 768px) {
  /* line 203, ../Scion Projects/Portfolio/Sass/styles.scss */
  .logo {
    display: block;
  }
}

@media (min-width: 992px) {
  /* line 212, ../Scion Projects/Portfolio/Sass/styles.scss */
  .sidenav {
    display: block;
    height: 100%;
    width: 160px;
  }
  /* line 219, ../Scion Projects/Portfolio/Sass/styles.scss */
  .links {
    display: block;
    text-align: center;
    border-bottom: solid #27bbbb 3px;
    border-right: none;
    margin: 10px 0 10px 0;
  }
  /* line 226, ../Scion Projects/Portfolio/Sass/styles.scss */
  .links a {
    font-size: 20px;
  }
  /* line 232, ../Scion Projects/Portfolio/Sass/styles.scss */
  a {
    text-decoration: none;
  }
  /* line 236, ../Scion Projects/Portfolio/Sass/styles.scss */
  .logo {
    text-align: center;
    margin-top: 20px;
    border-bottom: solid #27bbbb 3px;
    border-right: none;
  }
}

/*# sourceMappingURL=styles.css.map */